html{
  background-color: black;
}

.background {
  height:80em;
  background-image: url('img/blocks-T3mKJXfdims-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin:auto;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(209, 219, 219);
}

table,
th,
td {
  border: 1px solid;
  background: rgb(40, 40, 43);
}

table {
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 800px;
  margin: 0 auto;
  display: block;
  overflow-x: auto;
  border-spacing: 0;
}

tbody {
  white-space: nowrap;
}

th,
td {
  padding: 5px 10px;
  border-top-width: 0;
  border-left-width: 0;
}

th {
  position: sticky;
  top: 0;
  background: #bebebe;
  vertical-align: bottom;
}

th:last-child,
td:last-child {
  border-right-width: 0;
}

tr:last-child td {
  border-bottom-width: 0;
}

.form-container {
    background: rgb(56, 57, 58);
    flood-opacity: 90%;

}
.song-form {
  display: grid;
  background: rgb(56, 57, 58);
  justify-content: space-around;
}